.article-title h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}

.article-paragraph1 {
    font-family: 'Overpass Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 80px;
}

.signature h3 {
    font-family: 'Overpass Mono', monospace;
    font-weight: bold;
    margin-top: 35px;
}